/***************************Tous les medias********************************/

body {
    background-color: #e3f2fd;
    margin: 0px;
    padding: 0px;
}

.bg-primary {
    background-color: #0247a1!important;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.container-fluid h2 {
    color: white;
}

.container-fluid .heading {
    padding-top: 4rem;
}

.heading {
    color: #9933cc;
    font-size: 45px;
    border-bottom: 1px solid;
    text-align: center;
    padding-top: 4rem;
    text-transform: uppercase;
}


/*** Experience et formation */

.annee {
    color: green;
    text-decoration: underline;
    font-weight: bold;
}

.container {
    height: 100vh;
}

.experience,
.formation {
    font-style: italic;
    padding: 0.5em;
    color: #0247a1;
}

.experience p {
    text-align: center;
}


/* Competences */

#competance .progress {
    height: 50px;
    margin-top: 30px;
    background-color: #e57373;
}


/* langue parle et centre d'interet */

#langue-parle li,
#centre-interet li,
#qualite li {
    color: #0247a1;
    list-style: none;
    padding: 1.2em;
}

#competance .progress-bar {
    font-size: 1.9em;
    font-weight: bold;
    text-shadow: 2px 2px black;
}


/***************************Smart Phone et tablettes********************************/

@media (max-width:991.98px) {
    #moi .laptop,
    #navbar img,
    #moi .heading {
        display: none;
    }
    #moi .heading {
        visibility: hidden;
    }
    #moi .mobile {
        background-color: #0247a1;
        color: rgb(255, 255, 255);
        text-align: center;
        height: 100vh;
        padding-top: 70px;
    }
    #moi .mobile img {
        width: 70%;
        border: 8px solid;
    }
}


/***************************Pour les Pc et Tv********************************/

@media (min-width:992px) {
    #navbar {
        display: flex;
        flex-direction: column;
        width: 17em;
        height: 100vh;
    }
    #navbar .navbar-brand:hover {
        padding: 20px;
        background-color: burlywood;
    }
    #navbar .navbar-brand img {
        border: 8px solid white;
    }
    #navbar .navbar-collapse .navbar-nav {
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
    }
    #navbar .navbar-collapse .navbar-nav:hover {
        background-color: burlywood;
    }
    #navbar .navbar-collapse .navbar-nav .nav-link:hover {
        background-color: floralwhite;
    }
    section {
        margin-left: 30%;
    }
    #moi .mobile {
        display: none;
    }
    #moi .laptop {
        padding: 10%;
        text-align: center;
    }
    #moi .laptop .heading {
        font-size: 4em;
        color: #9933cc;
        border-bottom: 1px solid;
    }
    #moi .laptop h3 {
        font-size: 50px;
        text-transform: uppercase;
    }
    #moi .laptop h4 {
        font-size: 30px;
    }
    #moi .laptop p {
        font-size: 50px;
    }
}